main{
    background-color: $background_hint_red;
}
// section Jumbotron:

.jumbotron::after{
    @include clearfix;
}

.jumbotron{
    background-color: white;
    @include clearfix;
    

    // left part of the section:

    .left-part{
        width: 50%;
        float: left;
        margin: 117px 0;
    
        h1{
            font-size: 50px;
            font-weight: bolder;
            width: 80%;
            color:$color_title;
            
        }

        h6{
            font-size: 22px;
            color:$shady_lady_color;
            margin: 20px 0;
        }

        button{
            @include Button-style;
            margin-bottom: 20px;
        }
        button:hover{
            @include Button-style-hover;
        }

        p{
            color:$shady_lady_color;
            font-weight: bold;
            font-size: small;

            span{ 
                border-bottom: 1px solid $shady_lady_color;

                a{
                    color: $color_principal_green;
                    text-decoration: none;

                }
            }
        }
    }



    // right part of section;
    .right-part{
        width: 50%;
        float: left;
        margin-top: 67px;

        .container-sec{
            position: relative;
            

            .img-box{
                position: relative;
                width: 85%;
                margin-left: 101px;  

                .img-principal{
                    position: relative;
                    z-index: 2;

                    #principal{
                        border-radius: 50%;
                    }
                }
        
            

                .maxcoach-02{
                    width: 100px;
                    position: absolute;
                    top: 126px;
                    right: -109px;
                    z-index: 0;
                }

                .maxcoach-07{
                    width: 115px;
                    position: absolute;
                    bottom: 14px;
                    right: 8%;
                    z-index: 0;
                }

                .maxcoach-08{
                    width: 140px;
                    position: absolute;
                    bottom: 123px;
                    left: -73px;
                    z-index: 0;
                }
                }
                .maxcoach-09{
                    width: 140px;
                    position: absolute;
                    top: 147px;
                    left: -73px;
                    z-index: 0;
                }
                .circle-img{
                    position: absolute;
                    bottom: 110px;
                    left: -27px;
                    z-index: 2;
                    font-size: 56px;
                    color: #c99f8e;
                }
            }
        }
    }
    .row-under{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        
        .single-img{
            width: calc( 100% / 6 );
    
            img{
                object-fit: none;
            }
        }
        
    }


// End section jumbotron
// section courses
.courses{
    background-color:$background_hint_red;
    padding: 50px 0;

    .title{
        text-align: center;
        h6{
            text-transform: uppercase;
            color:$shady_lady_color;
            font-size: 13px;
        }

        h2{
            color:$color_title;
            font-size: 25px;
        }

    }
    .box-prices{
        @include clearfix;

        .single-course{
            display: flex;
            align-items: center;
            width: 50%;
            float: left;
            margin-top: 50px;
            padding:20px;


            .img-box{
                margin-right: 43px;

                img{
                    border-radius: 50%;
                    object-fit: contain;
                    object-fit: cover;
                    height: 250px;
                    width: 250px;                }
                }
            }
            .description{

                h4{
                    font-size: 20px;
                    color: $color_principal_green;
                    font-weight: bold;

                }

                h6{
                    font-size: 17px;
                    color: #48495f;
                    font-weight: bold;
                    margin: 20px 0;
                }

                p{
                    color: $color_outer_space;
                    font-size: 12px;

                    span{
                        margin-left:20px;
                    }
                }
            }
        }
        .single-course:hover{
            background-color: white;
            border-radius: 5px;

            h6{
                color:$color_principal_green;
            }



        }
    }
    
    .btn{
        text-align: center;

        button{
            @include Button-style;
            margin: 50px 0;
        
        }

        button:hover{
            @include Button-style-hover;
        }
          
    }
// end section courses

// section smart-tutoring
.smart-tutoring{
    padding: 40px;
    background-color: white;
    border-bottom-right-radius:40% ;
    

    .title{
        text-align: center;
        margin: 59px 0;
        h6{
            text-transform: uppercase;
            color:$shady_lady_color;
            font-size: 13px;
        }

        h2{
            color:$color_title;
            font-size: 25px;
            span{
                color:$color_principal_green;
            }

        }

    }

    .upper-part{
        margin: 50px 0;
        display: flex;
        justify-content: space-between;

        .single-item{
            width: calc( ( 100% / 3) - 30px);
            padding: 20px;

            .img-container{
                width: 50%;
            }

            h4{
                font-size: 20px;
                color: $color_title;
                font-weight: bold;
                margin: 25px 0;

            }

            p{
                color:$shady_lady_color;
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 25px;
            }

            a{
                color:$color_title;
                text-decoration: none;
                font-weight: bold;
                font-size:15px;
                margin-top: 25px;
            }



        }

        .single-item:hover{
            background-color: $background_hint_red;
            border-radius: 5px;

            h4{
                color: $color_principal_green;
            }

            a{
                color: $color_principal_green;
            }

        }

    }

    .downer-part{
        margin: 120px 0;
        display: flex;
        

        .img-box{
            width: 50%;
            position: relative;
            border-radius: 5px;
            z-index: 2;

            .youtube{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
            }
            .bott-dx{
                position: absolute;
                bottom: -106px;
                right: -13px;
                z-index: -1;
            }

            .top-sx-b{
                position: absolute;
                top: 66px;
                left: -87px;
                z-index: -1;
            }
            .cloud-top-sx{
                position: absolute;
                font-size: 143px;
                top: -95px;
                left: -54px;
                z-index: -2;
                color: $color-cloud;

            }
            .circle-img{
                position: absolute;
                top: -55px;
                right: -104px;
                font-size: 66px;
                color: #c99f8e;
            }

        }
        .companionship{
            padding: 45px 60px;
            width: 34%;
            h6{
                text-transform: uppercase;
                color:$shady_lady_color;
                font-size: 13px;
                font-weight: lighter;
                span{
                    color:$color_title;
                    font-weight:bold;
                }
            }

            h2{
                color:$color_title;
                font-size: 27px;
                font-weight: bold;
                span{
                    color:$color_principal_green;
                    font-weight: lighter;
                }
            }
            p{
                color:$shady_lady_color;
                font-size: 12px;
                font-weight: bold;
                margin: 25px 0;
            }

            .link{
                border-bottom: 1px solid $shady_lady_color;
                width: 75%;
                a{
                    color: $color_principal_green;
                    font-weight:bold; 
                    text-decoration: none;

                }
            }

        }
        
    }
}
// END section smart-tutoring

// Section Slider:
.section-slider{
    background-color: $background_hint_red;
    padding: 50px 0;
    .title{
        text-align: center;
        margin: 59px 0;
        h6{  
            text-transform: uppercase;
            color:$shady_lady_color;
            font-size: 13px;
        }

        h2{
            color:$color_title;
            font-size: 25px;
            span{
                color:$color_principal_green;
            }

        }

    }
    .slider{
        width: 100%;
        display:flex;
        justify-content: space-around;

        
        .single-card{
            position: relative;
            padding: 30px;
            margin: 40px;
            width: ( ( 100% / 3 )  -50px );
            background-color: white;
            border-radius: 10px;

        

            h3{
                color: #48495f;
                font-weight: bold;
                font-size: 20px;
            }

            p{
                color: $color_outer_space;
                margin: 25px 0;
                font-weight: 800;
            }

            .person-profile{
                
                display: flex;
                align-items: center;                

                .profile-img{
                    width: 100px;
                    margin-right:25px ;
                    img{
                        border-radius: 50%;
                        
                    }
                }
                .profile-name{

                    h4{
                        text-transform: uppercase;
                        color:$color_title;
                    }

                    p{
                        font-size: 13px;
                    }

                }

            }

        
            
        }
        .overlay{
           opacity: 0.5;
        }
    }
    .point{
        
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .bigger-point{
            color: $color_title;
            font-size:15px;
            margin: 0 10px;
        }

        .little-point{
            font-size: 10px;
            color: $color_title;
            opacity:0.5;
            margin: 0 10px;

        }
    }

    .title-down{
        text-align: center;
        margin: 89px 0;
        h5{  
            color:$color_title;
            font-size: 20px;
            span{
                color:$color_principal_green;
            }
        }

        h2{
            color:$color_title;
            font-size: 28px;

        }
        button{
            @include Button-style;
            margin-top:30px;
        }

        .images{
            width: 100%;
            position:relative;

            .img-1{
                width: 100px;
                position: absolute;
                top: -73px;
                left: 23%;
            }
            .img-2{
                width: 100px;
                position: absolute;
                top: -73px;
                right: 23%;
            }
            .circle-img{
                position: absolute;
                top: -120px;
                left: 22%;
                font-size: 34px;
                color: #c99f8e;
                opacity: 0.2;
            }
        }




    }
}
// end section slider:
// Section Stats
.stats{
    background-color: white;
    
    .stats-cards{
        width: 100%;
        border-right:5px solid $background_hint_red;
        display: flex;

        .stats-card{
            text-align: center;
            border-left:5px solid $background_hint_red;
            width: calc( 100% / 4);
            padding: 55px;
            h5{
                color:$color_title;
                font-size: 20px;
                font-weight: bold;
            }
            h2{
                font-size:50px;
                color: $color_principal_green;
                font-weight: bold;
                margin: 20px 0;
            }
            h6{
                text-transform: uppercase;
                color:$color_outer_space;
                font-size: 13px;
            }
        }


    }

}
//End Section Stats
// section most-viewed
.most-viewed{
    background-color: #f4f0ec;

    .tables{
        width: 100%;
        display: flex;
        padding: 50px 0;
        
        .title-table{
            width: calc( 100% / 3);
            padding: 20px;
            margin: 20px;
            h6 {
                text-transform: uppercase;
                color:$color_outer_space;
                font-size: 13px;
            }
            h2{
                color:$color_title;
                font-size: 28px;
                margin: 20px 0;
                span{
                    color:$color_principal_green;
                    font-weight:small ;
                }
            }
            ul{
                list-style-type:none;
                li{
                    color: $color_title;
                    font-size: 13px;
                    font-weight: bold;
                    margin: 20px 0;
                    i{
                        margin-right:20px;
                    }


                }
            }

        }
        .img-table{
            width: calc( 100% / 3);
            margin: 20px;
            background-color: white;
            .table-img{
                width: 100%;
                height: 250px;
                img{
                    object-fit: cover;
                    height: 100%;
                }
            }
         

            .table-description{
                padding: 20px;
                
                h6{
                    text-transform: uppercase;
                    color:$shady_lady_color;
                    font-size: 13px;
                }
                h3{
                    color:$color_title;
                    font-size: 23px;
                    margin: 15px 0;
                    font-weight: bold;
                }
                .post-datas{
                    font-size: 13px;
                    color:$shady_lady_color;
                    
                    span{
                        margin-right: 20px;
                    }
                }
            }
            
        }

    }
}
//  End section most-viewed

// section Subscribe
.subscribe{
    background-color: white;
    padding:50px;
    
    .text{
        text-align: center;

        h2{
            color:$color_title;
            font-size: 28px;
            margin: 20px 0;
            font-weight: bold;
            span{
                color:$color_principal_green;
                font-weight:small ;
            }
        }
        p{
            color:$color_cod_gray ;
            font-size: 15px;
            font-weight: bold;
            margin: 30px;
        }

        .compiled-part{
            background-color: $background_hint_red;
            width: 42%;
            margin: auto;
            input{
                padding: 10px 15px;
                background-color: #f6f3f5;
                border-radius: 5px;
                border: none;
                width: 73%;
                font-family: "Khula", sans-serif;
            }
            button{
                @include Button-style;
            }
            button:hover{
                @include Button-style-hover;
            }
        }

        .img-back{
            position: relative;

            .circle-img{
                position: absolute;
                top: -96px;
                left: 6%;
                font-size: 40px;
                color: #1fad96;
            }
            .img-1{
                width: 150px;
                position: absolute;
                top: -218px;
                right: 4%;
            }
            .img-2{
                width: 130px;
                position: absolute;
                top: -127px;
                right: 3%;
            }
        }

    }

}
// END MAIN


  






